
ion-item {
    margin-bottom: 2%!important;
}

ion-header {
    margin-bottom: 5%!important;
}

ion-icon {
    font-size: 20px!important;
}

ion-title {
    text-align: center!important;
}

.labels {
    font-family: "Segoe UI"!important;
    font-size: 24px!important;
}

.custom-button {
    font-family: "Segoe UI"!important;
    font-weight: 400!important;
    font-size: 16px!important;
}

.custom-button ion-icon {
    padding-left: 5px;
}

@media (max-width: 812px){
    .main-app h1 {
        left: 18%;
    }
}

@media (min-width: 813px){
    .main-app h1 {
        left: 40%;
    }
}

.main-app h1 {
    position: relative;
}

div #select-period {
    width: 100%!important;
}


