.main-app {
    position: absolute;
    width: 90%;
    height: inherit;
    top: 20%;
    left: 5%;
}

ion-badge {
    margin-left: 15px!important;
}

ion-card {
    width: 100%!important;
}

ion-segment, ion-segment * {
    color-scheme: dark!important;
}