ion-item {
    margin-bottom: 2%!important;
}

ion-header {
    margin-bottom: 5%!important;
}

ion-icon {
    font-size: 20px!important;
}

ion-title {
    text-align: center!important;
}

.labels {
    font-family: "Segoe UI"!important;
    font-size: 24px!important;
}

.custom-button {
    font-family: "Segoe UI"!important;
    font-weight: 400!important;
    font-size: 16px!important;
}

.custom-button ion-icon {
    padding-left: 5px;
}

.main-app {
    position: absolute;
    width: 90%;
    height: inherit;
    top: 20%;
    left: 5%;
}