.main-app, ion-item-options, .button-native {
    position: absolute;
    width: 95%;
    height: inherit;
    top: 20%;
    left: 2%;
}


ion-badge {
    margin-left: 15px!important;
}

ion-card {
    width: 100%!important;
}

ion-segment, ion-segment * {
    color-scheme: dark!important;
}

ion-item {
    --background: none;
    opacity:1;
    --padding-start: none!important;
}

