.main-app {
    position: relative!important;
    width: 98%;
    height: inherit;
    top: 0.0625%!important;
    left: 0%;
}

ion-badge {
    margin-left: 15px!important;
}

@media screen and (max-width: 812px){
    .main-app {
        left: 2%!important;
    }
    ion-searchbar {
        width: 92%!important;
        left: 2%!important;
    }
}

@media screen and (min-width: 813px){
    ion-card {
        width: 98%!important;
    }
    .main-app {
        left: 2%!important;
    }
    ion-searchbar {
        width: 95%!important;
        left: 2%!important;
    }
}



ion-segment, ion-segment * {
    color-scheme: dark!important;
}

ion-item {
    --background: none;
    opacity:1;
    --padding-start: none!important;
}

