ion-content {
    padding: 5%!important;
}

ion-segment, ion-segment ion-segment-button ion-label {
    color-scheme: dark!important;
}

ion-segment ion-segment-button ion-label {
    color: white!important;
}

ion-item #balance {
    font-size: 20px!important;
}

@media(max-width:812px){
    ion-item #balance {
        position: relative;
        left: 18%;
    }
}

@media(min-width:813px){
    ion-item #balance {
        position: relative;
        left: 40%;
    }  
}

