ion-segment, ion-segment * {
    color-scheme: dark!important;
}

ion-card-title {
    font-size: large;
}

ion-card-title ion-icon {
    padding-right: 5px!important;
}

ion-card-content ion-button ion-icon {
    padding-left: 5px!important;
    font-size: medium!important;
}

ion-card-content ion-button {
    font-size: medium;
    width: 99%!important;
    text-align: center;
    position: relative!important;
    top: 15px!important;
    margin-bottom: 15px!important;
}

ion-card-content div ion-button {
    width: 47%!important;
    padding-right: 5px;
}

ion-card-content div ion-date-time {
    width: 100%!important;
}

ion-card-content ion-label {
    color: white!important;
}

ion-item {
    pointer-events: initial !important;
}

ion-item-sliding {
    pointer-events: initial !important;
}

ion-item-sliding {
    width: 100%!important;
}

.item-cover{
    display:none;
}