.custom-button {
    font-family: "Segoe UI"!important;
    font-weight: 400!important;
    font-size: 16px!important;
    margin-top: 10%!important;
}

.custom-button ion-icon {
    padding-left: 5px;
}

ion-content {
    padding: 5%!important;
}

ion-segment, ion-segment ion-segment-button ion-label {
    color-scheme: dark!important;
}

ion-segment ion-segment-button ion-label {
    color: white!important;
}


.main-app {
    position: relative!important;
    width: 90%;
    height: inherit;
    top: 0.0625%!important;
    left: 5%;
}

ion-item #balance {
    font-size: 20px!important;
}

@media(max-width:812px){
    ion-item #balance {
        position: relative;
        left: 18%;
    }
}

@media(min-width:813px){
    ion-item #balance {
        position: relative;
        left: 40%;
    }  
}

