.custom-button {
    font-family: "Segoe UI"!important;
    font-weight: 400!important;
    font-size: 16px!important;
    margin-top: 10%!important;
}

ion-content {
    padding: 5%!important;
}

ion-segment, ion-segment ion-segment-button ion-label {
    color-scheme: dark!important;
}

ion-segment ion-segment-button ion-label {
    color: white!important;
}

ion-item #balance {
    font-size: 20px!important;
    position: relative;
}

@media(max-width:812px){
    ion-item #balance {
        left: 18%;
    }
}

@media(min-width:813px){
    ion-item #balance {
        left: 40%;
    }  
}