ion-slides {
    --bullet-background: white!important;
    height: 100%;
}

.welcome-app {
    position: absolute;
    width: 98%;
    height: 70%;
    top: 20%;
    left: 2%!important;

}

.welcome-app ion-item:first-child {
    position: relative; 
    bottom: 5%!important;
}

ion-avatar {
    position: relative!important;
    top: 10px!important;
}

@media screen and (max-width: 812px){
    ion-card {
        width: 95%!important;
    }
    .welcome-app {
        height: 70%;
    }
}

@media screen and (min-width: 813px){
    ion-card {
        width: 98%!important;
    }
    .welcome-app {
        height: 73%;
    }
    ion-list ion-item {
        width: 100%!important;
    }
}